@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #494949;
}

.container{
    width: 100px;
    height: 150px; 
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 16px;
    transition: 1s;
    opacity: .3; 
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container-1{
    background-image: linear-gradient(to right,#33f933, #336633);
    color: #212121;
}

.container-2{
    background-image: radial-gradient(#C73EFA, #8C34AD);
}

.container-3{
    background-image: linear-gradient(to right,#AD2811, #FA4425);
}


.container:hover{
    opacity: 1;
    width: 400px;
    height: 600px;
    border-radius: 24px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    justify-content: center;
    transition: 1s;
}

.content:hover{
    opacity: 1;
}

.victor, .lady, .logo{
    width: 30%;
    border-radius: 56px;
    margin-bottom: 2rem;
    margin-right: 5%;
    overflow: hidden;
}

.victor{
    background-image: linear-gradient(to top right,#0f0f0f, #f1f1f1);
    padding: 1rem;
}

.lady, .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-color: whitesmoke;
}

.victor img, .lady img, .logo img{
    max-height: 90px;
    border-radius: 56px;
}

.titulo{
    width: 60%;
    margin-bottom: 2rem;
    color: #fafafa;
    text-shadow: 1px 1px 1px black;
}

.texto{
    margin-bottom: 2rem;
    font-weight: 500;
    text-align: justify;
}

a{
    padding: 16px 32px;
    width: 100%;
    border: unset;
    border-radius: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e9e9e9;
    color: #515151;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    text-align: center;
}

a:hover{
    background-color: #313131;
    color: #fafafa;
}
